li.pending .step {
    border-color: #69AA46;
}

.login-layout {
    background: #1f1f1f;
}

.tab-content {
  overflow: visible;
}
.image-map {
    position: relative;
    width: 100%;
}
.image-map a {
    position: absolute;
    color: black;
}
.image-map img.star {
    position: absolute;
    left: 96px;
    top: 48px;
}
.image-map span a {
    color: white;
    font: bold: 14px Helvetica, Sans-serif;
    letter-spacing: -1px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    padding: 8px;
}

ol.linenums{
    margin: 0 0 0 50px;
}

.avatar_modifier{
  padding-top: 30px;
}

.modal{
  position: absolute;
}

.flash {
  font-size: 1.2em;
}

.notice {
  color: blue;
}

.error {
  color: red;
}

#new_subscription input[type=radio] {
  opacity: 1;
  position: relative;
}

.date-select {
  width: auto;
}

.q-vote-cnt, .a-vote-cnt {
  font-weight: bold;
}

p.cannot_buy {
  font-size: 1.3em;
  text-align: center;
  border: 1px dotted;
  padding: 2px
}

.pc-attribute-value-positive {
  color: green
}

.pc-attribute-value-negative {
  color: red
}

.pc-attribute-name {
  font-weight: bold
}

.pc-detail-attributes-table .pc-attribute-value {
  color: black
}

@media only screen and (max-width:700px) {
  .pc-attribute-name-text {
    display: none
  }
}

#table-result h4.good-job {
  font-size: 24px;
  color: green;
  line-height: 30px;
}

#powerups-table .new-level {
  font-weight: bold;
  font-size:25px;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.15);
  color: green;
}

.widget-body .widget-main.padding-8 > img {
  max-height: 300px;
  margin: auto;
  display:block
}

input.error_field, select.error_field {
  border-color: red;
}

.error_field_msg {
  color: red;
}

.schedule_selector select{
  width: auto
}

button.btn[disabled] {
  cursor: not-allowed
}