body {
  padding-top: 50px;
}
.app {
  padding: 40px 15px;
  text-align: center;
}

.board-karel-blue {
    background: #269abc;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.board-karel-green {
    background: #449d44;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.board-karel-red {
    background: #ac2925;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.board-karel-yellow {
    background: #ec971f;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.code-editor {
    height: 480px;
}
