{% extends "base.html" %}

{% macro board(color) %}
<div class="board-{{ color }}">
    <p>S: <span class="board-steps">0</span>&nbsp;<strong>|</strong>&nbsp;B: <span class="board-beepers">0</span>&nbsp;<strong>|</strong>&nbsp;T: <span class="board-tray">0</span></p>
</div>
{% endmacro %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('static', filename='media/css/app.css')}}">
<link rel="stylesheet"
      href="{{url_for('static', filename='media/css/codemirror.css')}}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="app">
        <h1>#1 Tots contra tots!</h1>
        <p class="lead">Aconsegueix mes beepers que els teus contrincants,<br>deixa'ls a la teva safata i arriba a la sortida el primer.</p>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div id="ref_canvas_container">
                <canvas id='canvas'></canvas>
            </div>
        </div>
        <div class="col-md-6">
            <form>
                <div class="form-group">
                    <textarea class="form-control" name="code-editor" id="code" rows="80" cols="20">{{ initial_code }}</textarea>
                </div>
                <div class="form-group">
                    <div class="btn-group" role="group">
                        <div>
                            <input class="btn btn-success" type="button" id="execute_btn" value="Executa"/>
                            <input class="btn btn-warning" type="button" id="test_btn" value="Test"/>
                            <input class="btn" type="button" id="clean" value="Neteja l'editor"/>
                        </div>
                    </div>
                </div>
            </form>
            <div class="alert alert-error" style="cursor: pointer ;display:none" id="error">
                <button type="button" class="close" data-dismiss="alert" id="btn_dismiss">
                    <i class="icon-remove" id="remove"></i>
                </button>
                <strong>
                    <i class="icon-remove" id="error_msg"></i>
                </strong>
                <i class="icon-question-sign"></i>
            </div>
            <div class="alert alert-block alert-success" style="display:none" id="expl_error">
                <strong>
                    <i class="icon-ok" id="expl_text"></i>
                </strong>
                <button class="btn btn-small btn-success" onclick="expl_close();">D'acord</button>
            </div>
            <br/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            {{ board("karel-blue") }}
        </div>
        <div class="col-md-3">
            {{ board("karel-green") }}
        </div>
        <div class="col-md-3">
            {{ board("karel-red") }}
        </div>
        <div class="col-md-3">
            {{ board("karel-yellow") }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div id="scores">
                <p id="karel-blue-pos"></p>
                <p id="karel-blue-bag"></p>
                <p id="karel-green-pos"></p>
                <p id="karel-red-pos"></p>
                <p id="karel-yellow-pos"></p>
            </div>
        </div>
    </div>
</div><!-- /.container -->
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  var level_name = 'level0';
  var game_id = '{{ game_id }}';
  var handle = '{{ handle }}';
  var nickname = '{{ nickname }}';
  var max_instr = 10;
  var max_time = 100;
  var num_beepers = 100;
  if (isNaN(max_instr)) {
    max_instr = 0;
  }
  if (isNaN(max_time)) {
    max_time = 0;
  }
  if (isNaN(num_beepers)) {
    num_beepers = 0;
  }

</script>
<script src="{{url_for('static', filename='media/js/codemirror.js')}}"></script>
<script src="{{url_for('static', filename='media/js/javascript/javascript.js')}}"></script>
<script src="{{url_for('static', filename='media/js/socket.io-1.4.5.js')}}"></script>
<script src="{{url_for('static', filename='media/js/jquery-3.1.1.min.js')}}"></script>
<script src="{{url_for('static', filename='media/js/game.js')}}"></script>
<script src="/lib/impact/impact.js"></script>
<script src="/lib/game/main.js"></script>
{{super()}}
{% endblock %}
