{% extends "base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('static', filename='media/css/app.css')}}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}




{% block content %}
<div class="container">
    <div class="app">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>{{ messages[0] }}</strong>
                </div>
            {% endif %}
        {% endwith %}
        <h1>Karel the robot multiplayer</h1>
        <p class="lead">Create a game and invite up to 4 friends</p>

        <form class="form-inline" id="start-form">
            <label for="game-id" id="game-url">karel-arena.herokuapp.com/</label>
            <input class="form-control" type="text" placeholder="qwer" id="game-id">
            <input class="btn btn-primary" type="submit" value="Start">
        </form>
    </div>

</div><!-- /.container -->
{% endblock %}

{% block scripts %}
<script type="text/javascript">
</script>
<script src="{{url_for('static', filename='media/js/jquery-3.1.1.min.js')}}"></script>
<script src="{{url_for('static', filename='media/js/app.js')}}"></script>
{{super()}}
{% endblock %}
