{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('static', filename='media/css/app.css')}}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="app" id="choose-nickname">
        <h1>Karel the robot multiplayer</h1>
        <p class="lead">Choose your nickname</p>

        <form id="nickname-form">
            <input type="text" id="nickname">
            <input type="submit" value="Next">
        </form>
    </div>
    <div class="app hidden" id="choose-karel">
        <h1>Karel the robot multiplayer</h1>
        <p class="lead"><strong id="greeter"></strong>, choose your karel's color</p>

        <form id="handle-form" method="post" role="form">
            {{ form.hidden_tag() }}
            <div class="panel-body">
                <div class="btn-group btn-group-justified btn-group-lg" data-toggle="buttons">
                    <label class="btn btn-info active">
                        <input type="radio" name="handle_radio" id="karel-blue" autocomplete="off" checked>Blue
                    </label>
                    <label class="btn btn-success active">
                        <input type="radio" name="handle_radio" id="karel-green" autocomplete="off">Green
                    </label>
                    <label class="btn btn-danger active">
                        <input type="radio" name="handle_radio" id="karel-red" autocomplete="off">Red
                    </label>
                    <label class="btn btn-warning active">
                        <input type="radio" name="handle_radio" id="karel-yellow" autocomplete="off">Yellow
                    </label>
                </div>
            </div>
            <input type="hidden" name="handle">
            <input type="hidden" name="game_id" value="{{ game_id }}">
            <input type="hidden" name="nickname">
            <input class="btn btn-default btn-lg" type="submit" value="Finish">
        </form>
    </div>
</div><!-- /.container -->
{% endblock %}

{% block scripts %}
<script src="{{url_for('static', filename='media/js/jquery-3.1.1.min.js')}}"></script>
<script src="{{url_for('static', filename='media/js/reconnecting-websocket.min.js')}}"></script>
<script src="{{url_for('static', filename='media/js/setup.js')}}"></script>
<script type="text/javascript">
    var game_id = "{{ game_id }}";
</script>
{{super()}}
{% endblock %}